<div class="dateformat">{{date | date:'medium'}}</div>
<div class="cont">

    <div class="upper-data">

        <img src="../assets/weathernew.jpg" *ngIf=" 30>28">

        <div class="weather-data">

            <input class="input-box" type="text" id=cityname name="cityname" placeholder="enter a city " #cityname>
            <button (click)="searchcity(cityname.value)" class="btnnn"><i class="fa fa-search"></i></button>
            <div class="city">{{newCityname}}</div>
            <div class="temprature"> {{tempprature}}°C</div>
        </div>

    </div>

    <div class="lower-data">
        <div class="more-info-label">
            More Information
        </div>

        <div class="more-info-container">

            <div class="info-block">
                <div class="info-block-label">
                    <img class="mintemp-img" src="../assets/mintemp.jpg">
                    <span>Min</span>
                </div>
                <div class="info-block-value">{{mintemp}}°C</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img class="mintemp-img" src="../assets/hot.png">
                    <span>Max</span>
                </div>
                <div class="info-block-value">{{maxtemp}}°C</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img class="mintemp-img" src="../assets/humidity.png">
                    <span>Humidity</span>
                </div>
                <div class="info-block-value">{{humidity}}°C</div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img class="mintemp-img" src="../assets/wind.png">
                    <span>Wind Speed</span>
                </div>
                <div class="info-block-value">{{windspeed}} km/hr </div>

            </div>
            <div class="description"> Summary :{{description}}</div>
        </div>

    </div>

</div>

<router-outlet></router-outlet>